{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block extrahead %}
	<title>NewsBot Artificial Intelligence for detection of fake news</title>
	<meta property="og:title" content="NewsBot Artificial Intelligence for detection of fake news">
	<meta property="twitter:title" content="NewsBot Artificial Intelligence for detection of fake news">
	<meta property="og:image" content="https://www.unslanted.net/static/crowdnews/robobrain_md.png">
	<meta property="twitter:image" content="https://www.unslanted.net/static/crowdnews/robobrain_md.png">

	<meta property="og:description" content="New artificial intelligence can detect fake news with high accuracy. Give it a try!">
	<meta property="twitter:description" content="New artificial intelligence can detect fake news with high accuracy. Give it a try!">
	<meta name="description" content="NewsBot Artificial Intelligence for detection of fake news">
	<meta name="keywords" content="artificial intelligence natural language processing news fake news detection">
	<meta property="og:url" content="https://www.unslanted.net/newsbot/">
	<meta property="twitter:url" content="https://www.unslanted.net/newsbot/">
	<meta property="og:type" content="article">
	<meta property="twitter:type" content="article">
<link rel="canonical" href="https://www.unslanted.net/newsbot/" />
<meta name="twitter:partner" content="unslanted.net">
<meta name="twitter:card" content="summary">
<style>
input[type=url] {
  border: 2px solid blue;
  border-radius: 4px;
}
input[type=submit] {
  border: 2px solid blue;
  border-radius: 4px;
}

</style>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.2.0/css/bootstrap-slider.min.css" />
{% endblock %}


{% block content %}
<div class="row row row-fluid">
	<div class="wpb_column columns small-12 medium-12">
		<div class="vc_column-inner  ">
			<div class="wpb_wrapper">

<h2 style="text-align: center;">NewsBot AI: An AI for detecting fake news</h2>

<form  method="get" >
 <div  
    class="buttonHolder"> <div id="div_id_entryURL" class="form-group"> <label for="id_entryURL" class="col-form-label  requiredField">
                URL of news article<span class="asteriskField">*</span> </label> <div class=""> 
                <input type="url" name="u" class="urlinput form-control" maxlength="200" id="id_entryURL" required> </div> </div> <input type="submit"
    name="submit"
    value="Analyze"
    
        class="btn btn-primary btn btn-primary"
        id="submit-id-submit"
    
    
    />

</div> </form>
<h3 style="text-align: center;">Results will take a few seconds to load</h3>

<b>What is this thing?</b><br>
This artificial intelligence can predict whether a news article is fake or real based on the words used in the article.
You can find a detailed documentation of how it works and how it was coded at: 
<a href="medium link">Full Pipeline Project: Python AI for detecting fake news with NLP</a>
<br><br>

<b>What do I do?</b><br>
Enter a URL in the box above, the bot will load the article, extract the visible text, and 
use 3 different AI models to make a prediction of
whether the article is fake or real. This may take several seconds because the URL you enter has
to be loaded and processed.
You will get a probability distrobution and a final ruling. <br><br>

<b>Any article I want?</b><br> 
The model has been trained only on US political news. Anything outside of that domain is unlikely to
produce credible results. 
Bot will not load articles from Bloomberg.com because of their robots.txt policy.<br><br>

<b>I have more questions, comments, and concerns</b>
<a href="mailto:aurelius@unslanted.net">Email me here</a>

<br><br>

<br><br><br>
			</div>
		</div>
	</div>
</div>


{% endblock %}